@media screen and (min-width: 1021px) {
  .registerTitle {
    color: black;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  .Auth-form-container-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
  }
  .newanimal-btn-add {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }

  .upload {
    flex-direction: row;
  }
  .Auth-form-animal {
    width: 1000px;
    height: 100%;
    color: black;
    border-width: 1px;
    border-color: #668d3c;
    border-style: solid;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 20px;
  }

  .Auth-form-content-animal {
    padding-left: 40px;
    padding-right: 40px;
    // padding-left: 8%;
    // // padding-right: 8%;
    column-count: 3;
    column-gap: 30px;
  }

  .Auth-form-content-quiz {
    padding-left: 40px;
    padding-right: 40px;
  //   // padding-left: 8%;
  //   // padding-right: 8%;
  //   column-count: 3;
  //   column-gap: 30px;
  }
}

@media screen and (max-width: 1020px) {
  .registerTitle {
    color: black;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  .Auth-form-container-add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 100%;
    height: 100%;
  }
  .newanimal-btn-add {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .upload {
    padding-left: 10%;
    padding-right: 10%;
  }

  .Auth-form-animal {
    width: 95%;
    height: 100%;
    color: black;
    border-width: 1px;
    border-color: #668d3c;
    border-style: solid;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 20px;
    background-color: white;
  }
  .Auth-form-content-animal {
    padding-left: 8%;
    padding-right: 8%;
  }

  .Auth-form-content-quiz {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.Login {
  background-color: white;
}

.right {
  text-align: end;
  padding-top: 1%;
}

@media screen and (max-width: 800px) {
  .Auth-form-container-add {
    margin-top: 0;
  }
}
.error-text {
  color: #c4391d;
}
.error-text-animal-info {
  color: #c4391d;
  font-size: 10px;
  text-decoration: none;
}

h2 {
  column-span: all;
}
.animal-info{
  font-size: 30px;
padding-left: 4.4%;
// font-weight: bold;
}

.Auth-form-title-add {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.d-grid-add {
  padding-top: 0;
  width: 100%;
  display: flex;
  justify-content: end;
}

.d-grid-add a {
  font-size: 12px;
  position: center;
}

.login-btn-add {
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-btn-add {
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-primary-add {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  padding: 5px 50px;
  border-color: #668d3c;
  background-color: white;
  border-radius: 10px;
  color: #668d3c;
}

.btn-primary-cancel {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  padding: 5px 50px;
  border-color: #c4391d;
  background-color: white;
  border-radius: 10px;
  color: #c4391d;
}

.btn-primary-add:hover {
  background-color: #668d3c;
  border-color: #668d3c;
  color: white;
}

.btn-primary-cancel:hover {
  background-color: #c4391d;
  border-color: #c4391d;
  color: white;
}
.textareas{
  resize: none;
}
.textareas-description{
resize: none;
height: 70px;
}

.animal-form-group2{
  padding-left: 40px;
  padding-right: 40px;
}

.setAnimalInfoError{
  font-size: 5px;
}
.error-text-animal-info{
  font-size: 15px;
  color:#c4391d;
  padding-left: 4.4%;
  padding-top: -1;
}