

.login-btn-add {
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  
  .login-btn-add {
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  
  .btn-primary-add {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 5px 50px;
    border-color: #668d3c;
    background-color: white;
    border-radius: 10px;
    color: #668d3c;
  }
  
  .btn-primary-cancel {
      display: flex;
      width: 40%;
      align-items: center;
      justify-content: center;
      padding: 5px 50px;
      border-color: #c4391d;
      background-color: white;
      border-radius: 10px;
      color: #c4391d;
    }
  
  .btn-primary-add:hover {
    background-color: #668d3c;
    border-color: #668d3c;
    color: white;
  }
  
  .btn-primary-cancel:hover {
      background-color: #c4391d;
      border-color: #c4391d;
      color: white;
    }
  