.forgotpassword-btn-add {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center; 
  }
  
  .btn-primary-add {
    padding: 5px 50px;
    border-color: #668d3c;
    background-color: white;
    border-radius: 10px;
    color: #668d3c;
  }
  
  .btn-primary-cancel {
      padding: 5px 50px;
      border-color: #c4391d;
      background-color: white;
      border-radius: 10px;
      color: #c4391d;
    }
  
  .btn-primary-add:hover {
    background-color: #668d3c;
    border-color: #668d3c;
    color: white;
  }
  
  .btn-primary-cancel:hover {
      background-color: #c4391d;
      border-color: #c4391d;
      color: white;
    }
  
    