.datatable {
   padding: 50px;
}

.updateButton {
   background-color: #FFFFFF;
   color: #145da0 !important;
   border-color: #145da0 !important;
   &:hover {
      background-color: #145da0;;
      color: #FFFFFF !important;
}
}

.deleteButton {
   background-color: #FFFFFF;
   color: #c4391d;
   border-color: #c4391d;
   &:hover {
      background-color: #c4391d !important;
      color: #FFFFFF !important;
   }
}

.link {
   border-color: #668d3c !important;
   &:hover {
      background-color: #668d3c;
      color: #FFFFFF !important;
   }
}